<div class="table">
    <table class="table">
        <thead>
        <tr>
            <th>Element</th>
            <th>Value</th>
            <th>Status</th>
            <th>Advise</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Cache</td>
            <td><?= $cache_status['engine']  ?></td>
            <td><?php if ($cache_status['status'] === 'warn'){ ?>
                <i style="color: #ff9b02;" class="icon icon-warning"></i>
                <?php } elseif ($cache_status['status'] === 'error'){ ?>
                <i style="color: red;" class="icon icon-exclamation-circle"></i>
                <?php } else { ?>
                <i style="color: green;" class="icon icon-check"></i>
                <?php }?>
            </td>
            <td><?php foreach($cache_status['message'] as $message){ ?>
                <?= $message; ?> <br/>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td>Queue</td>
            <td><?= $queue_status['engine']  ?></td>
            <td><?php if ($queue_status['status'] === 'warn'){ ?>
                <i style="color: #ff9b02;" class="icon icon-warning"></i>
                <?php } elseif ($queue_status['status'] === 'error'){ ?>
                <i style="color: red;" class="icon icon-exclamation-circle"></i>
                <?php } else { ?>
                <i style="color: green;" class="icon icon-check"></i>
                <?php }?>
            </td>
            <td><?php foreach($queue_status['message'] as $message){ ?>
                <?= $message; ?> <br/>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td>Configuration</td>
            <td><?= $config_status['engine']  ?></td>
            <td><?php if ($config_status['status'] === 'warn'){ ?>
                <i style="color: #ff9b02;" class="icon icon-warning"></i>
                <?php } elseif ($config_status['status'] === 'error'){ ?>
                <i style="color: red;" class="icon icon-exclamation-circle"></i>
                <?php } else { ?>
                <i style="color: green;" class="icon icon-check"></i>
                <?php }?>
            </td>
            <td><?php foreach($config_status['message'] as $message){ ?>
                <?= $message; ?> <br/>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td>Recommended Dependencies</td>
            <td><?= $deps_status['engine']  ?></td>
            <td><?php if ($deps_status['status'] === 'warn'){ ?>
                <i style="color: #ff9b02;" class="icon icon-warning"></i>
                <?php } elseif ($deps_status['status'] === 'error'){ ?>
                <i style="color: red;" class="icon icon-exclamation-circle"></i>
                <?php } else { ?>
                <i style="color: green;" class="icon icon-check"></i>
                <?php }?>
            </td>
            <td><?php foreach($deps_status['message'] as $message){ ?>
                <?= $message; ?> <br/>
                <?php } ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>