<a class="btn btn-primary" data-request="onCheck" data-stripe-load-indicator data-request-update="'config_check':'#status-table'">Recheck config</a>

<div id="status-table">
    <?= $this->makePartial('$/keios/monitor/controllers/configchecker/_config_check.htm'); ?>
</div>