<div class="row">
    <div id="today-chart">
        <div class="col-sm-4 text-center">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
    </div>
    <div id="week-chart">
        <div class="col-sm-4 text-center">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
    </div>
    <div id="month-chart">
        <div class="col-sm-4 text-center">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
    </div>
</div>
{% put scripts %}
<script src="{{ 'assets/plugins/chartjs/Chart.min.js'|theme }}"></script>
<script>
    $('document').ready(function () {
        $.request('onLoadTodayStats', {
            update: {
                'km_charts::today': '#today-chart'
            }
        });
        $.request('onLoadWeekStats', {
            update: {
                'km_charts::week': '#week-chart'
            }
        });
        $.request('onLoadMonthStats', {
            update: {
                'km_charts::month': '#month-chart'
            }
        });
    });
</script>
{% endput %}