<div class="col-sm-4">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Last 30 days</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="month-chart-canvas" style="height:250px"></canvas>
            </div>
        </div>
        <div class="box-footer">
            <span title="Total crashes"
                  class="btn {% if month_crash_count > 100 %}btn-danger{% elseif month_crash_count > 0 %}btn-warning{% else %}btn-success{% endif %}">
                <i class="fa fa-bell"> {{ month_crash_count }}</i>
            </span>
            <span class="pull-right">
                <span title="Server Crashes" class="btn btn-primary btn-stat"><i
                            class="fa fa-server"></i> {{ month_server }}</span>
                <span title="Process Crashes" class="btn btn-primary btn-stat"><i
                            class="fa fa-gears"></i> {{ month_process }}</span>
                <span title="Websites Crashes" class="btn btn-primary btn-stat"><i
                            class="fa fa-globe"></i> {{ month_websites }}</span>
                </span>
        </div>
        <!-- /.box-footer-->
    </div>
</div>
<script>
    $(function () {
        //--------------
        //- AREA CHART -
        //--------------

        // Get context with jQuery - using jQuery's .get() method.
        var monthChartCanvas = $("#month-chart-canvas").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var monthChart = new Chart(monthChartCanvas);

        var monthChartData = {
            labels: [{% for datekey,values in month %}{% if not loop.last %}new Date('{{ datekey }}').getDate(), {% else %}new Date('{{ datekey }}').getDate(){% endif %}{% endfor %}],
            datasets: [
                {
                    label: "Servers",
                    fillColor: "rgba(134,195,253,0.9)",
                    strokeColor: "rgba(134,195,253,0.9)",
                    pointColor: "rgba(134,195,253,0.9)",
                    pointStrokeColor: "#86c3fd",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(134,195,253,0.9)",
                    data: [{% for day in month %}{% if not loop.last %}{{ day[2]|number_format }},{% else %}{{ day[2]|number_format }}{% endif %}{% endfor %}]
                },
                {
                    label: "Websites",
                    fillColor: "rgba(60,141,188,0.9)",
                    strokeColor: "rgba(60,141,188,0.8)",
                    pointColor: "#3b8bba",
                    pointStrokeColor: "rgba(60,141,188,1)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(60,141,188,1)",
                    data: [{% for day in month %}{% if not loop.last %}{{ day[3]|number_format }},{% else %}{{ day[3]|number_format }}{% endif %}{% endfor %}]
                },
                {
                    label: "Processes",
                    fillColor: "rgba(7,75,138,0.9)",
                    strokeColor: "rgba(7,75,138,0.9)",
                    pointColor: "#074b8a",
                    pointStrokeColor: "rgba(7,75,138,0.9)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(7,75,138,0.9)",
                    data: [{% for day in month %}{% if not loop.last %}{{ day[1]|number_format }},{% else %}{{ day[1]|number_format }}{% endif %}{% endfor %}]
                }
            ]
        };

        var monthChartOptions = {
            animation : false,
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            {% verbatim %}
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            {% endverbatim %}
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //Create the line chart
        monthChart.Line(monthChartData, monthChartOptions);
    });
</script>