subject = "Server status change"
==
Monitored process {{ process }} at {{ host }} is {{ status }}!

Status change happened at {{ date }}

==
Monitored process <b>{{ process }}</b> at {{ host }} is {{ status }}!
<br /><br />
Status change happened at {{ date }}
