subject = "Server status change"
==
Server {{ server }} is {{ status }}!

Status change happened at {{ date }}

==
Server <b>{{ server }}</b> is {{ status }}!
<br /><br />
Status change happened at {{ date }}
