subject = "Website status change"
==
Website {{ url }} is {{ status }}!

Status change happened at {{ date }}

==
Website <b>{{ url }}</b> is {{ status }}!
<br/><br/>
Status change happened at {{ date }}
