{% if enable_servers %}
    <div class="col-lg-4" id="servers">
        {% partial "km_livemonitor::servers" %}
    </div>
{% endif %}
{% if enable_websites %}
    <div class="col-lg-4" id="websites">
        {% partial "km_livemonitor::websites" %}
    </div>
{% endif %}
{% if enable_processes %}
    <div class="col-lg-4" id="processes">
        {% partial "km_livemonitor::processes" %}
    </div>
{% endif %}