<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="7" class="text-center">
                Processes
            </th>
        </tr>
        <tr>
            <th>Process</th>
            <th>Port</th>
            <th>Server</th>
            <th>Alerts</th>
            <th>Is online</th>
        </tr>
        </thead>
        <tbody>
        {% for process in processes %}
            <tr class="{% if process.is_online %}row-success{% else %}row-danger{% endif %}">
                <td>{{ process.process_name }}</td>
                <td>{{ process.process_port }}</td>
                <td>{{ process_servers[process.server_id] }}</td>
                <td>{% if process.send_email %}<i class="fa fa-check"></i>{% else %}<i
                            class="fa fa-times"></i>{% endif %}</td>
                <td>{% if process.is_online %}<i class="fa fa-check"></i>{% else %}<i
                            class="fa fa-times"></i>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form id="processes-form">
    {% for process in processes %}
        <input type="hidden" name="process-{{ process.id }}" value="{{ process.is_online }}" />
    {% endfor %}
</form>