<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="6" class="text-center">
                Servers
            </th>
        </tr>
        <tr>
            <th>Host</th>
            <th>Port</th>
            <th>User</th>
            <th>Alerts</th>
            <th>Is online</th>
        </tr>
        </thead>
        <tbody>
        {% set offline = 0 %}
        {% set online = 0 %}
        {% for server in servers %}
            <tr class="{% if server.is_online %}row-success{% else %}row-danger{% endif %}">
                <td>{{ server.host }}</td>
                <td>{{ server.ssh_port }}</td>
                <td>{{ server.ssh_user }}</td>
                <td>{% if server.send_email %}<i class="fa fa-check"></i>{% else %}<i
                            class="fa fa-times"></i>{% endif %}</td>
                <td>{% if server.is_online %}<i class="fa fa-check"></i>{% set online = online +1 %}{% else %}<i
                            class="fa fa-times"></i{% set offline = offline +1 %}{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form id="servers-form">
    {% for server in servers %}
        <input type="hidden" name="server-{{ server.id }}" value="{{ server.is_online }}" />
    {% endfor %}
</form>