<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="4" class="text-center">
                Websites
            </th>
        </tr>
        <tr>
            <th>URL</th>
            <th>Alerts</th>
            <th>Is online</th>
        </tr>
        </thead>
        <tbody>
        {% for website in websites %}
            <tr class="{% if website.is_online %}row-success{% else %}row-danger{% endif %}">
                <td><a href="{{ website.url }}" target="_blank">{{ website.url }}</a></td>
                <td>{% if website.send_email %}<i class="fa fa-check"></i>{% else %}<i
                            class="fa fa-times"></i>{% endif %}</td>
                <td>{% if website.is_online %}<i class="fa fa-check"></i>{% else %}<i
                            class="fa fa-times"></i>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form id="websites-form">
    {% for website in websites %}
        <input type="hidden" name="website-{{ website.id }}" value="{{ website.is_online }}" />
    {% endfor %}
</form>