{% if service_type == 'process' %}
    <div class="row">
        <div class="col-md-10">
            <input type="hidden" name="type" value="website"/>
            <label for="process_name">Process name</label>
            <input class="form-control" id="process_name" name="process_name" type="text"/>
        </div>
        <div class="col-md-2">
            <label for="process_port">Process port</label>
            <input class="form-control" id="process_port" name="process_port" type="text"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <label for="check_using">Check using</label>
            <select class="form-control" id="check_using" name="check_using">
                <option value="ps">ps</option>
                <option value="netstat">netstat</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="server">Host</label>
            <select class="form-control" id="server" name="server">
                {% for host in user_hosts %}
                    <option value="{{ host.id }}">{{ host.host }}:{{ host.ssh_port }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br/>
    <input id="enabled" name="is_enabled" type="checkbox"/> <label for="enabled">Enabled</label>
    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
{% elseif service_type == 'server' %}
    <div class="row">
        <div class="col-md-8">
            <label for="host">Host</label>
            <input type="hidden" name="type" value="server"/>
            <input class="form-control" id="host" name="host" type="text"/>
        </div>
        <div class="col-md-2">
            <label for="ssh_port">SSH port</label>
            <input class="form-control" id="ssh_port" name="ssh_port" type="text"/>
        </div>
        <div class="col-md-2">
            <label for="ssh_user">SSH user</label>
            <input class="form-control" id="ssh_user" name="ssh_user" type="text"/>
        </div>
    </div>

    <br/>
    <input id="enabled" name="is_enabled" type="checkbox"/> <label for="enabled">Enabled</label>
    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
{% elseif service_type == 'website' %}
    <input type="hidden" name="type" value="website"/>
    <label for="url">URL</label>
    <input class="form-control" id="url" name="url" type="text"/>
    <br/>
    <input id="enabled" name="is_enabled" type="checkbox"/> <label for="enabled">Enabled</label>
    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
{% else %}

{% endif %}
