<div class="container-fluid">
    <div class="row">
        {% if monitor_profile.manage_processes %}
            <div class="col-md-4 entries-column">
                <h3>Processes</h3>

                {% for process in processes %}

                    <a class="btn {% if not process.is_enabled %}btn-default{% elseif process.is_online %}btn-success{% else %}btn-danger{% endif %} btn-service"
                       id="show-process-{{ process.id }}">{{ process.process_name }}</a>

                    {% put scripts %}
                    <script>
                        $('document').ready(function () {
                            $('#show-process-{{ process.id }}').on('click', function () {
                                $('#process-{{ process.id }}').toggle();
                            })
                        })
                    </script>
                    {% endput %}
                    <div id="process-{{ process.id }}" style="display: none;">
                        <div class="white-container">
                            <form method="post" data-request="onUpdateService">
                                <input type="hidden" name="process_id" value="{{ process.id }}"/>
                                <input type="hidden" name="service_type" value="process"/>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="hidden" name="type" value="website"/>
                                        <label for="process_name">Process name</label>
                                        <input class="form-control" id="process_name" value="{{ process.process_name }}"
                                               name="process_name" type="text"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="process_port">Port</label>
                                        <input class="form-control" id="process_port" value="{{ process.process_port }}"
                                               name="process_port" type="text"/>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="check_using">Check using</label>
                                        <select class="form-control" id="check_using" name="check_using">
                                            <option value="ps">ps</option>
                                            <option value="netstat">netstat</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="server">Host</label>
                                        <select class="form-control" id="server" name="server">
                                            <option value="{{ process.server.id }}">Current: {{ process.server.host }}
                                                :{{ process.server.ssh_port }}</option>
                                            {% for host in servers %}
                                                <option value="{{ host.id }}">{{ host.host }}
                                                    :{{ host.ssh_port }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="enabled" name="is_enabled" type="checkbox"
                                               {% if process.is_enabled %}checked="checked"{% endif %}/> <label
                                                for="enabled">Enabled</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="send_email" name="send_email" type="checkbox"
                                               {% if process.send_email %}checked="checked"{% endif %}/> <label
                                                for="send_email">Enable e-mail alerts</label>
                                    </div>

                                </div>
                                <br/>
                                <button type="submit" class="btn btn-primary" style="display: inline;"><i
                                            class="fa fa-save"></i>
                                    Save
                                </button>
                                &nbsp;
                                <button data-track-input data-request="onRemoveService"
                                        data-request-confirm="Are you sure? This cannot be undone!" type="submit"
                                        class="btn btn-danger btn-remove"><i class="fa fa-trash"></i> Remove
                                </button>
                            </form>
                        </div>
                    </div>


                {% endfor %}

            </div>
        {% endif %}
        {% if monitor_profile.manage_servers %}
            <div class="col-md-4 entries-column">
                <h3>Servers</h3>

                {% for server in servers %}
                    <form method="post" data-request="onUpdateService">
                        <a class="btn {% if not server.is_enabled %}btn-default{% elseif server.is_online %}btn-success{% else %}btn-danger{% endif %} btn-service"
                           id="show-server-{{ server.id }}">{{ server.host }}</a>
                        <input type="hidden" name="server_id" value="{{ server.id }}"/>
                        <input type="hidden" name="service_type" value="server"/>
                        {% put scripts %}
                        <script>
                            $('document').ready(function () {
                                $('#show-server-{{ server.id }}').on('click', function () {
                                    $('#server-{{ server.id }}').toggle();
                                })
                            })
                        </script>
                        {% endput %}
                        <div id="server-{{ server.id }}" style="display: none;">
                            <div class="white-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="host">Host</label>
                                        <input type="hidden" name="service_type" value="server"/>
                                        <input class="form-control" value="{{ server.host }}" id="host" name="host"
                                               type="text"/>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="ssh_port">SSH port</label>
                                        <input class="form-control" value="{{ server.ssh_port }}" id="ssh_port"
                                               name="ssh_port"
                                               type="text"/>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ssh_user">SSH user</label>
                                        <input class="form-control" value="{{ server.ssh_user }}" id="ssh_user"
                                               name="ssh_user"
                                               type="text"/>
                                    </div>
                                </div>

                                <br/>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="enabled" name="is_enabled" type="checkbox"
                                               {% if server.is_enabled %}checked="checked"{% endif %}/> <label
                                                for="enabled">Enabled</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="send_email" name="send_email" type="checkbox"
                                               {% if server.send_email %}checked="checked"{% endif %}/> <label
                                                for="send_email">Enable e-mail alerts</label>
                                    </div>

                                </div>
                                <br/>
                                <button type="submit" class="btn btn-primary">Save</button>
                                &nbsp;
                                <button data-track-input data-request="onRemoveService"
                                        data-request-confirm="Are you sure? This cannot be undone!" type="submit"
                                        class="btn btn-danger btn-remove"><i class="fa fa-trash"></i> Remove
                                </button>
                            </div>
                        </div>
                    </form>
                {% endfor %}

            </div>
        {% endif %}
        {% if monitor_profile.manage_websites %}
            <div class="col-md-4 entries-column">
                <h3>Websites</h3>

                {% for website in websites %}
                    <form method="post" data-request="onUpdateService">
                        <a class="btn {% if not website.is_enabled %}btn-default{% elseif website.is_online %}btn-success{% else %}btn-danger{% endif %} btn-service"
                           id="show-website-{{ website.id }}">{{ website.url }}</a>
                        <input type="hidden" name="website_id" value="{{ website.id }}"/>
                        <input type="hidden" name="service_type" value="website"/>
                        {% put scripts %}
                        <script>
                            $('document').ready(function () {
                                $('#show-website-{{ website.id }}').on('click', function () {
                                    $('#website-{{ website.id }}').toggle();
                                })
                            })
                        </script>
                        {% endput %}
                        <div id="website-{{ website.id }}" style="display: none;">
                            <div class="white-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="type" value="website"/>
                                        <label for="url">URL</label>
                                        <input value="{{ website.url }}" class="form-control" id="url" name="url"
                                               type="text"/>
                                    </div>
                                </div>

                                <br/>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="enabled" name="is_enabled" type="checkbox"
                                               {% if website.is_enabled %}checked="checked"{% endif %}/> <label
                                                for="enabled">Enabled</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="send_email" name="send_email" type="checkbox"
                                               {% if website.send_email %}checked="checked"{% endif %}/> <label
                                                for="send_email">Enable e-mail alerts</label>
                                    </div>

                                </div>
                                <br/>
                                <button type="submit" class="btn btn-primary">Save</button>
                                &nbsp;
                                <button data-track-input data-request="onRemoveService"
                                        data-request-confirm="Are you sure? This cannot be undone!" type="submit"
                                        class="btn btn-danger btn-remove"><i class="fa fa-trash"></i> Remove
                                </button>
                            </div>
                        </div>
                    </form>
                {% endfor %}

            </div>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="white-container container">
            <div id="uploadResult"></div>
            <form id="addService" method="post" data-request="onAddService"
                  data-request-update="'{{ __SELF__ }}::result': '#uploadResult'">
                <h4>Add Service</h4>
                <label for="service-type">Type</label>
                <select id="service-type" name="service_type" class="form-control" data-track-input
                        data-request="onLoadForm"
                        data-request-update="'{{ __SELF__ }}::addform': '#addForm'">
                    <option value="">Please select</option>
                    {% if monitor_profile.manage_processes %}
                        <option value="process">Process</option>
                    {% endif %}
                    {% if monitor_profile.manage_servers %}
                        <option value="server">Server</option>
                    {% endif %}
                    {% if monitor_profile.manage_websites %}
                        <option value="website">Website</option>
                    {% endif %}
                </select>
                <br/>
                <div id="addForm">

                </div>
            </form>
        </div>
    </div>
</div>
{% put scripts %}
<script>
    $('document').ready(function () {
        var screenHeight = screen.height;
        console.log(screenHeight);
        var maxHeight = screenHeight * 0.4;
        $('.entries-column').css('max-height', maxHeight).css('overflow-y', 'auto');
    });

</script>
{% endput %}