<div class="container-fluid white-container">
    <h4>How do I authorize?</h4>
    <p>You can start monitoring your websites right now. For SSH hosts and processes monitoring, you need to authorize Monitor on your server.</p>
    <ol>
        <li>Connect to your target server</li>
<pre>
cd ~/.ssh/
nano authorized_keys
</pre>
        <li>Paste following code at the end of the file and save</li>
<pre>
{{ ssh_key }}
</pre>
    </ol>

    <hr>

    <h4>Test SSH configuration</h4>
    <form data-request="onAuthorizeSsh" data-request-update="'{{ __SELF__ }}::result': '#result'">
        <label for="server">Host</label>
        <select class="form-control" id="server" name="server">
            <option value="">Please select</option>
            {% for host in servers %}
                <option value="{{ host.id }}">{{ host.ssh_user }}@{{ host.host }}:{{ host.ssh_port }}</option>
            {% endfor %}
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Test</button>
    </form>
    <br />
    <div id="result">

    </div>
</div>