<div class="box-header with-border">
    <h3 class="box-title">Latest logs</h3>

    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                title="Collapse">
            <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                title="Remove">
            <i class="fa fa-times"></i></button>
    </div>
</div>
<div class="box-body">
    {% if logs %}

        <div class="container-fluid">
            {% for log in logs %}
                <small>{{ log.date }}</small>
                <pre>
{{ log.message }}
</pre>
            {% endfor %}
            <hr>
            <a href="/logs" class="btn btn-primary">See more logs</a>
        </div>
    {% else %}
        <br/>
        <div class="text-center">NO LOGGED EVENTS</div>
        <br/>
    {% endif %}
</div>